[Unit]
Description=Medexcoin's distributed currency daemon
After=network.target

[Service]
User=medexcoin
Group=medexcoin

Type=forking
PIDFile=/var/lib/medexcoind/medexcoind.pid
ExecStart=/usr/bin/medexcoind -daemon -pid=/var/lib/medexcoind/medexcoind.pid \
-conf=/etc/medexcoin/medexcoin.conf -datadir=/var/lib/medexcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
